$icon-font-path: '../fonts/';

$black: #1a1a1a;
$red: #ed1c24;
$gray: #f6f6f6;

@media only screen and (max-width: 767px) {

    .title {
        font-size: 34px;
    }

    .title-md {
        font-size: 30px;
    }

    .title-sm {
        font-size: 30px;
    }

    .big-text {
        font-size: 32px;
    }

    .subtitle {
        font-size: 22px;
    }

    .text {
        font-size: 20px;
    }

    .text-l {
        font-size: 17px;
    }

    .img-wrap-desctop {
        display: none;
    }

    .img-wrap-mobile {
        display: block;
    }

    .logo {        
        margin: 0 auto;
        width: 100%;
        text-align: center;

        img {
            max-width: 280px;
            height: 107px;
        }
    }

    .section-1 {
        min-height: auto;

        .content-block {
           margin: 20px 0 0 0; 
           padding: 32px 0 13px 0;          
        }

        .text {
            width: 100%;
        }
    }

    .section-2 {
        margin-top: 20px;

        .content {
            padding: 0 20px;
        }
    }

    //section-3

    .section-3 {
        margin: 30px 0;
    }

    .form-content {
        padding: 30px;
    }

    .form {
        text-align: center;
    }

    .input-wrap {
       align-items: center;
    }

    .button {
        margin: 0 auto;
    }

    //section-4

    .section-4 {
        padding: 50px 0;
    }

    .column {

        &__list {
            flex-direction: column;
        }

        &__item {
            width: calc(100% - 40px);
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .section-5 {
        background: #fff;

        .img-wrap {
            width: 100%;
            height: 289px;
            top: 0;
        }
    }

    .content-column-wrap {
        flex-direction: column;
    }

    .content-column {
        width: 100%;

        &.left {
            height: 289px;
        }
    }

    .content-column-block {
        padding: 20px 0;
    }
}